* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  background: url("/assets/images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#icons {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-inline: auto;
  color: #f4f4f4;
  opacity: 0.5;
  font-size: 30px;
}
#card {
  display: grid;
  grid-template-columns: 30rem repeat(1, 1fr);
  margin-block: 0;
  width: 50%;
  margin-inline: auto;
  align-items: stretch;
  grid-template-rows: 20rem;
}
#introduction {
  display: inherit;
  align-items: center;
  font-family: "intro-font";
  background-color: #ffffff;
}
#introduction > * {
  margin-left: 2rem;
}
#title {
  font-weight: 600;
  font-size: 2rem;
  align-self: flex-end;
}
#current-position {
  font-size: 1.2rem;
  margin-top: 5px;
  align-self: flex-start;
  color: #aaaaaa;
}
#description {
  color: #777777;
  line-height: 1.5rem;
}
#card-2 {
  background-color: #ffffff;
  font-family: "intro-font";
  width: 50%;
  margin: 0 auto;
  padding: 4rem 3rem;
}
#card-2 > * {
  margin-bottom: 1.5rem;
}
#work-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 3rem;
}
#card.hidden,
#card-2.hidden,
#card-3.hidden {
  display: none;
}
#card-3 {
  background-color: #ffffff;
  padding: 4rem 3rem;
  width: 80%;
  max-width: 45rem;
  margin: 0 auto;
  font-family: "intro-font";
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
#form-grid {
  display: grid;
  gap: 1rem;
}
input {
  background-color: #f4f4f4;
  border: none;
  outline: none;
}
input#name,
input#email {
  height: 2.5rem;
  padding-left: 1rem;
}
input#subject {
  height: 2.5rem;
  padding-left: 1rem;
  grid-column: 1/3;
}
#message {
  height: 10rem;
  padding-bottom: 7rem;
  padding-left: 1rem;
  grid-column: 1/3;
}
button {
  justify-self: flex-start;
  padding: 1rem;
  background-color: #222222;
  color: white;
  border: none;
}
#forward-button {
  position: relative;
  top: -12rem;
  left: 41.8rem;
  max-width: 4rem;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  cursor: pointer;
}
@font-face {
  font-family: "intro-font";
  src: url("./assets/fonts/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2");
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #introduction {
    display: none;
  }
  #card {
    grid-template-columns: max-content;
    margin: 8vh 1.2rem;
    align-items: center;
  }
  #my-image {
    clip-path: inset(11% 0rem 9%);
    width: 90vw;
    height: 55vh;
  }
  #title {
    display: none;
  }
  #card-2 {
    width: 90%;
    padding: 1rem;
  }
  #card-3 {
    padding: 1.8rem 1rem;
    width: 90%;
  }
  #work-photos {
    justify-items: baseline;
    grid-template-columns: repeat(1, 1fr);
  }
  #work-photos > img {
    width: 100%;
    image-rendering: auto;
  }
  #form-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  h3 {
    display: none;
  }
  #form-grid > * {
    grid-column: 1/3;
  }
  button {
    justify-self: unset;
  }
  #forward-button {
    left: 0;
    justify-self: flex-end;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #card {
    grid-template-columns: 55% repeat(1, 1fr);
    width: auto;
    margin-left: 10vw;
  }
  #forward-button {
    background-color: inherit;
    left: 68%;
    justify-self: end;
  }
}
@media screen and (min-width: 360px) and (max-width: 389px) {
  #card {
    margin-block: -1rem;
  }
}
